a {
    color: #373939;
    font-size: 20px;
    font-weight: bold;
}

/* Основной стиль для контейнеров */
.main-container {
    justify-content: center;
}
.materials-container {
    border: 1px solid #ddd; /* Граница */
    border-radius: 8px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
    margin-bottom: 20px; /* Отступы между новостями */
    background-color: #f9f9f9; /* Светлый фон */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    display: flex;
    justify-content: space-between;
}

@media (max-width: 720px) {
    .materials-container {
        flex-direction: column;
    }
    .main-container {
        display: grid;
        justify-content: center;
    }
}

.all-materials-container {
    border: 1px solid #ddd; /* Граница */
    border-radius: 8px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
    margin-bottom: 20px; /* Отступы между новостями */
    background-color: #f9f9f9; /* Светлый фон */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Заголовок новости */
.materials-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Содержание новости */
.materials-content {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    border-left: 0;
}

.delete-button:hover {
    background-color: #e60000;
}

.materials-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.read-more {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}