/* Содержание новости */
.news-content {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.detail-container {
    border: 1px solid #ddd; /* Граница */
    border-radius: 8px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
    margin-bottom: 20px; /* Отступы между новостями */
    background-color: #f9f9f9; /* Светлый фон */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    /*display: flex;*/
    justify-content: space-between;
}

.news-container-image {
    border: 1px solid #ddd; /* Граница */
    border-radius: 8px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
    margin-bottom: 20px; /* Отступы между новостями */
    background-color: #f9f9f9; /* Светлый фон */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}

.fixed-buttons-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Цвет фона */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px; /* Расстояние между кнопками */
}

.fixed-buttons-container a,
.fixed-buttons-container button {
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.back-link {
    background-color: #007bff;
    color: white;
}

.edit-button {
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffc107;
    color: black;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}
